/* Sets hidden class to not be display */
.hidden {
  display: none;
}

/* Sets visible class to display element */
.visible {
  display: inline-block;
  margin-top: 60px;
  width: 512px;
  text-align: left;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  display: inline;
  color: #137EA0;
}

header a:visited {
  color: #137EA0;
}

header aside {
  display: none;
}

header aside p, header aside summary {
  display: inline;
}

main {
  text-align: center;
  width: 100%;
}

#startPage {
  text-align: center;
}
