/* Sets hidden class to not be display */
.hidden {
  display: none;
}

/* Sets visible class to display element */
.visible {
  display: inline-block;
  margin-top: 60px;
  width: 650px;
  text-align: left;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  display: inline;
  color: #137EA0;
}

header a:visited {
  color: #137EA0;
}

header aside {
  display: none;
}

header aside p, header aside summary {
  display: inline;
}

main {
  text-align: center;
  width: 100%;
}

#startPage {
  text-align: center;
}

h2 {
  font-size: 23px;
}

#endPage article > * {
  display: inline;
}

button {
background-color: #137EA0;
border: none;
color: #fff;
padding: 5px 10px;
margin: 3px;
cursor: pointer;
border-radius: 10px;
}

#scoreList {
  margin-left: -40px;
  width: 260px;
}

#scoreList li {
  padding: 5px 5px;
}

#scoreList li:nth-child(even) {
background-color: #95C8D8;
list-style-position: inside;
}

#scoreList li:nth-child(odd) {
background-color: #29a1c5;
list-style-position: inside;
}

#scoreList li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#scoreList li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
